body {
  background-image: url('yoel-winkler-4qz8JE35Go0-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.page3-body {
  background-image: url('images/alfred-quartey-UIdgM0loECQ-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.page4-body {
  background-image: url('images/yoel-winkler-3aa08TpL4Dk-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.active {
  background-color: rgba(0, 0, 0, 0.68);
  border-radius: 25px;
  
}

.custom-nav {
  padding: 50px;
  margin-left: 10px;
  position: fixed;
  z-index: 1;
}

.custom-nav-link {
  color: mintcream;
  margin-bottom: 30px;
}

.profile-pic {
  border: 1px solid silver;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  position: absolute;
  right: 5%;
  top: 2%;
  background-color: rgba(165, 42, 42, 0.526);
}

.top-left-design {
  border-top: 2px solid red;
  border-left: 2px solid red;
  width: 80px;
  height: 70px;
  position: absolute;
  left: 0;
  top: 1%;
}

.main {
  border: 1px solid burlywood;
  position: absolute;
  top: 3%;
  left: 1%;
  height: 95%;
  width: 655px;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.bottom-right-design {
  border-bottom: 2px solid red;
  border-right: 2px solid red;
  width: 80px;
  height: 70px;
  position: absolute;
  right: 1%;
  bottom: 0%;
}

.custom-main-col-1stpage {
  position: absolute;
  top: 55px;
  height: 500px;
}

.custom-col-2ndpage {
  opacity: 80%;
}

.custom-col-intro-2ndpage .custom-card-intro-2ndpage {
  background-color: rgba(0, 0, 0, 0.556);
  color: wheat;
  margin-top: 5px;
}

.custom-col-2ndpage .custom-card-2ndpage {
  background-color: rgba(0, 0, 0, 0.556);
  color: wheat;
}

.custom-col-2ndpage .custom-card-3rdpage {
  background-color: rgba(0, 0, 0, 0.865);
  box-shadow: 0 8px 8px 0 rgba(245, 222, 179, 0.502);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  color: wheat;
}

.horizontal-row {
  border: 1px dotted brown;
  margin-top: 5%;
}

.footer {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.453);
  padding: 20px 0 20px 0;
}

.footer-head {
  color: wheat;
  font-family: fantasy;
}

.footer-list {
  color: wheat;
}


