::-webkit-scrollbar {
  display: none;
}
body {
  background-image: url("yoel-winkler-4qz8JE35Go0-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.page3-body {
  background-image: url("images/alfred-quartey-UIdgM0loECQ-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.page4-body {
  background-image: url("images/jeffrey-ofori-RnxLRW-gafw-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.active {
  background-color: rgba(0, 0, 0, 0.68);
  border-radius: 25px;
}

.menu-toggle {
  display: none;
}

.custom-nav {
  padding: 50px;
  margin-left: 10px;
  position: fixed;
  z-index: 1;
}

.custom-nav-link {
  color: mintcream;
  margin-bottom: 30px;
}

.profile-pic {
  border: 1px solid silver;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  position: absolute;
  right: 5%;
  top: 2%;
  background-color: rgba(165, 42, 42, 0.526);
}

.profile-pic-img {
  margin: 5px 0 0 22px;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.profile-pic:hover .profile-pic-img {
  opacity: 0.3;
  cursor: pointer;
}

.profile-pic:hover .middle {
  opacity: 90%;
  cursor: pointer;
}

.profile-name {
  background-color: black;
  color: aliceblue;
  font-size: 16px;
  padding: 16px 32px;
  border-radius: 25px;
}

.top-left-design {
  border-top: 2px solid red;
  border-left: 2px solid red;
  width: 80px;
  height: 70px;
  position: absolute;
  left: 0;
  top: 1%;
}

.main {
  border: 1px solid burlywood;
  position: absolute;
  top: 3%;
  left: 1%;
  height: 95%;
  width: 655px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.auto-type {
  color: wheat;
}

.auto-type-head {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30% 15px 0 15px;
}

.bottom-right-design {
  border-bottom: 2px solid red;
  border-right: 2px solid red;
  width: 80px;
  height: 70px;
  position: absolute;
  right: 1%;
  bottom: 0%;
}

.custom-main-col-1stpage {
  position: absolute;
  top: 55px;
  height: 500px;
}

.custom-col-2ndpage {
  opacity: 80%;
}

.custom-col-intro-page .custom-card-intro-page {
  background-color: rgba(0, 0, 0, 0.556);
  color: wheat;
  margin-top: 5px;
  font-family: "Times New Roman", Times, serif;
}

.custom-col-2ndpage .custom-card-2ndpage {
  background-color: rgba(0, 0, 0, 0.556);
  color: wheat;
  font-family: "Times New Roman", Times, serif;
}

.custom-col-2ndpage .custom-card-3rdpage {
  background-color: rgba(0, 0, 0, 0.865);
  box-shadow: 0 8px 8px 0 rgba(245, 222, 179, 0.502);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: wheat;
  font-family: "Times New Roman", Times, serif;
}

.horizontal-row {
  border: 1px dotted brown;
  margin-top: 5%;
}

.footer {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: rgba(0, 0, 0, 0.453);
  padding: 20px 0 20px 0;
}

.footer-head {
  color: wheat;
  font-family: fantasy;
}

.footer-list {
  color: wheat;
}

.footer-connect {
  margin-top: 30px;
  color: black;
  font-weight: bold;
}

.location-text {
  border: 1px solid silver;
  height: 150px;
  width: 300px;
  padding: 30px 0 0 10px;
  color: wheat;
  background-color: rgba(0, 0, 0, 0.603);
  font-family: fantasy;
}

.map-img {
  opacity: 90%;
}

/* Style inputs, select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  background-color: rgba(0, 0, 0, 0.599);
  color: #ccc;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 50px;
  display: inline-block;
}

/* Style the submit button */
input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  margin-left: 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Style the container */
.custom-container-4 {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.387);
  background-size: cover;
  padding: 100px;
  color: wheat;
}

/* Floating column for labels: 25% width */
.custom-col-25 {
  float: center;
  width: 50%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.custom-col-75 {
  float: center;
  width: 50%;
  margin-top: 6px;
  padding-right: 50px;
}

/* Clear floats after the columns */
.link4-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 768px) {
  .main {
    border: 1px solid burlywood;
    position: absolute;
    top: 3%;
    left: 1%;
    height: 70%;
    width: 95%;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  .bottom-right-design {
    border-bottom: 2px solid red;
    border-right: 2px solid red;
    width: 80px;
    height: 70px;
    position: absolute;
    right: 1%;
    bottom: 25%;
  }

  .home-horizontal-row{
    margin-top: 90%;
  }

  .custom-col-intro-page .custom-card-intro-page {
    background-color: rgba(0, 0, 0, 0.556);
    color: wheat;
    margin-top: 5px;
    font-family: "Times New Roman", Times, serif;
  }

  .custom-col-2ndpage .custom-card-2ndpage {
    background-color: rgba(0, 0, 0, 0.556);
    color: wheat;
    font-family: "Times New Roman", Times, serif;
  }

  .custom-col-2ndpage .custom-card-3rdpage {
    background-color: rgba(0, 0, 0, 0.904);
    box-shadow: 0 8px 8px 0 rgba(245, 222, 179, 0.502);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: wheat;
    font-family: "Times New Roman", Times, serif;
  }

  .custom-col-25,
  .custom-col-75,
  input[type="submit"] {
    width: 50%;
    margin-top: 0;
  }
  .info-form {
    width: 90%;
  }
  .side-nav-div {
    display: none; /* Hide the navigation menu by default */
    position: fixed;
    background-color: rgba(165, 42, 42, 0.812);
  }

  .menu-toggle {
    background-color: rgba(165, 42, 42, 0.812);
    display: block; /* Display the toggle button */
    z-index: 1;
  }
}